<section class="page">
  <h1>Bienvenido a la Sala de Juegos</h1>

  @if (auth.user$ | async; as u) {
  <div class="card">
    <img src="" alt="" />
    <h3>Hola, {{ u.display_name || u.email }}</h3>
    @if (u.age) {
    <p>Edad: {{ u.age }}</p>
    } @if (u.avatar_url) {
    <img [src]="u.avatar_url" alt="avatar" class="avatar-sm" />
    }
    <p>Próximamente verás los juegos acá.</p>
  </div>
  } @else {
  <div class="card">
    <h3>No estás logueado</h3>
    <p><a class="btn" routerLink="/login">Ir a Login</a></p>
  </div>
  }
</section>
