<section class="page">
  <h1>Bienvenido a la Sala de Juegos</h1>

  @if (auth.user$ | async; as u) {
  <article class="card home-card">
    <header class="card__head">
      @if (u.avatar_url) { <img [src]="u.avatar_url" alt="avatar" class="avatar-sm" /> }
      <div>
        <h3>Hola, {{ u.display_name || u.email }}</h3>
        @if (u.age) {
        <p class="muted">Edad: {{ u.age }}</p>
        }
      </div>
    </header>

    <p class="lead">Elegí un juego para empezar:</p>

    <div class="game-grid">
      <a class="game-tile" routerLink="/juegos/ahorcado">
        <h4>Ahorcado</h4>
        <small>Descubrí la palabra sin ahorcar al inocente</small>
      </a>

      <a class="game-tile" routerLink="/juegos/mayor-menor">
        <h4>Mayor o Menor</h4>
        <small>¿La próxima carta será mayor o menor?</small>
      </a>

      <a class="game-tile" routerLink="/juegos/preguntados">
        <h4>Preguntados</h4>
        <small>Descubri los personajes</small>
      </a>

      <a class="game-tile" routerLink="/juegos/simon">
        <h4>Simon</h4>
        <small>Repetir la secuencia de colores</small>
      </a>
    </div>
    <app-chat [height]="300"></app-chat>
  </article>
  } @else {
  <div class="card">
    <h3>No estás logueado</h3>
    <p class="centrar"><a class="btn btn-entrar" routerLink="/login">Ir a Login</a></p>
  </div>
  }
</section>
